<div class="window">
  <div class="inner">
    {{view Todos.TextFieldView placeholder="Email" valueBinding="Todos.userSessionController.email"}}
    {{view Todos.TextFieldView placeholder="Password" type="password" valueBinding="Todos.userSessionController.password"}}
    {{#view SC.Button classBinding="isActive" target="Todos.userSessionController" action="signIn"}}
      Sign in
    {{/view}}
  </div>
</div>
