<h1>Todos</h1>

{{#view Todos.CreateTodoView}}
  <input id="new-todo" type="text" placeholder="What's next?" >
{{/view}}

{{#view Todos.StatsView id="stats"}}
  {{#view Todos.ClearCompletedView}}
    <button>Clear Completed Todos</button>
  {{/view}}
  {{displayRemaining}} remaining.
{{/view}}

{{#view Todos.MarkAllDoneView}}
  <label class='done-label'>
    <input class="mark-all-done" type="checkbox"> Mark All as Done
  </label>
{{/view}}

{{#collection Todos.TodoListView itemClassBinding="content.isDone"}}
  <label class='done'>
    {{#view Todos.CheckboxView}}
      <input class="check" type="checkbox">
    {{/view}}
    <div class="todo-content">{{content.title}}</div>
  </label>
{{/collection}}

