<h1>Todos</h1>
{{#view Todos.CreateTodoView}}
  <input id="new-todo" type="text" placeholder="What needs to be done?" />
{{/view}}

{{#view Todos.StatsView id="stats"}}
  {{#view Todos.ClearCompletedView classBinding="isActive"}}
    Clear Completed Todos
  {{/view}}
  {{displayRemaining}} remaining.
{{/view}}

{{#view Todos.MarkAllDoneView}}
  <label>
    <input class="mark-all-done" type="checkbox"> Mark All as Done
  </label>
{{/view}}

{{#collection Todos.TodoListView itemClassBinding="content.isDone"}}
    {{view Todos.CheckboxView}}
{{/collection}}