<h1>Todos</h1>

{{#view "Todos.createTodoView"}}
  <input id="new-todo" type="text" placeholder="What to do?">
{{/view}}

{{#view "Todos.statsView" id="stats"}}
  {{#view "Todos.clearCompletedView"}}
    <button>Clear Completed Todos</button>
  {{/view}}
  {{bind "displayRemaining"}}
{{/view}}

{{#view "Todos.markAllDoneView"}}
  <label class='done-label'>
    <input class="mark-all-done" type="checkbox"> Mark All as Done
  </label>
{{/view}}

{{#collection "Todos.todoListView" itemClassBinding="content.isDone"}}
  <label>
    {{#view "Todos.CheckboxView"}}
      <input type="checkbox" class="check">
    {{/view}}
    {{content.title}}
  </label>
{{/collection}}

