@import "compass/css3";
@import "compass/reset";

/* CSS Reset */
@include global-reset;

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* App CSS */
body, html {
  color: #777;
  background-color: #F2F4F5;
}

.sc-view {
  position: relative;
  overflow: visible;
}

$width: 600px;
$projects_width: 220px;
$border: 1px solid #bbb;

$header-height: 20px;
$padding: 10px;

@mixin sc-button {
  @include linear-gradient(color-stops(#F9F9F9 1%, #DDD, #F2F2F2, #F7F7F7));
  border: 1px solid #828282;
  color: #000;
  float: right;
  padding: 0 5px;

  &:hover {
    @include linear-gradient(color-stops(#FFF 1%, #E2E2E2, #F7F7F7, #FCFCFC));
  }

  &.is-active {
    @include linear-gradient(color-stops(#EFEFEF 1%, #D3D3D3, #E8E8E8, #EDEDED));
  }
}

#todoList, #projects {
  h1 {
    @include border-top-radius(8px);
    @include linear-gradient(color-stops(white, rgb(244,244,244) 49%, rgb(237,237,237) 51%, #dedede));
    @include text-shadow(white, 0, 1px, 1px);

    font-size: 15px;
    position: absolute;
    width: $width;
    height: $header-height;
    color: rgb(83,86,94);
    top: 0;
    left: 0;
    padding: ($padding / 2) $padding;
    border-bottom: $border;
  }
}

#todoList {
  @include box-shadow(rgba(0,0,0,0.6), 0, 0, 1px);
  @include border-radius(8px);

  position: absolute;
  width: $width;
  left: 50%;
  margin-top: 38px;
  border: $border;
  margin-left: -200px;
  background-color: #fff;
  padding: ($header-height + $padding * 2) $padding $padding;

  input[type="text"], input[type="password"] {
    width: $width - ($padding) - 2px;
    font-size: 30px;
    padding: 5px;
  }

  .mark-all-done label {
    margin-left: 5px;
    font-weight: bold;
  }

  #stats {
    overflow: hidden;
    width: 100%;
    padding: 5px $padding;
    margin: $padding ($padding * -1);
    background-color: #eee;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    line-height: 25px;

    .remaining {
      float: left;
    }

    .sc-button {
      @include sc-button;
    }
  }

  .todoList {
    width: $width;
    float: right;
  }

  .sc-checkbox {
    input[type="checkbox"] {
      margin-right: 7px;
    }
  }

  ul {
    margin-left: 0px;
    margin-right: 0px;

    li {
      padding: 5px;

      &.is-done {
        color: #B7B7B7;
        text-decoration: line-through;
      }
    }

    li:nth-child(odd) {
      background-color: #F7F7F7;
    }
  }

  .sign-out {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
}

#projects {
  @include box-shadow(rgba(0,0,0,0.6), 0, 0, 1px);
  @include border-radius(8px);
  width: $projects-width;
  position: absolute;
  left: 50%;
  margin-top: 38px;
  border: $border;
  margin-left: -435px;
  background-color: #fff;
  padding: ($header-height + $padding * 2) 0 $padding;

  input[type="text"] {
    font-size: 17px;
    margin: 15px $padding 10px;
    padding: 3px;
  }

  h1 {
    width: $projects-width - $padding * 2;
  }

  li {
    padding: 5px $padding;
    cursor: pointer;
  }

  li.is-selected {
    background-color: #eee;
    span {
      font-weight: bold;
    }
  }
}

#todos {
  .overlay {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);

    $label_width: 200px;

    .sc-button {
      @include sc-button;
      font-size: 17px;
    }

    .text-field-view {
      margin-bottom: 10px;
    }

    input[type='text'], input[type='password'] {
      font-size: 15px;
      height: 1.5em;
    }

    .window {
      display: table-cell;
      vertical-align: middle;

      .inner {
        @include box-shadow(rgba(0,0,0,0.6), 0, 0, 1px);
        @include border-radius(8px);

        border: $border;
        background-color: #fff;
        margin: 0 auto;
        padding: 15px;
        max-height: 350px;
        overflow: auto;
        width: $width;
      }
    }
  }

  input[type='text'], input[type='password'] {
    @include border-radius(5px);
    @include box-shadow(rgba(0,0,0,0.6), 0, 0, 10px, -2px);
    color: #999;
    background-color: rgb(240,240,240);
    font-family: Helvetica, sans-serif;
    border: $border;
    font-weight: 500;

    &::-webkit-input-placeholder {
      color: #aaa;
    }
  }
}
